.main-title {
    color: #ffff;
    line-height: 147.5%;
    text-transform: uppercase;
    font-size: 2.2rem;
}
.title {

}
.subtitle {
    color: #ffff;
    line-height: 147.5%;
    font-size: 1.25rem;
}